<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- stylesheet css -->
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Content/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="../../Content/css/nivo_themes/default/default.css" rel="stylesheet" />
    <link href="../../Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="../../Content/css/fontwebcss.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar-collapse" id="top">
    <!-- navigation -->
    @Html.Partial("PartialHeader")
    <div class="row">
        @RenderBody()
    </div>
    @Html.Partial("PartialDivider")
    <!-- footer section -->
    @Html.Partial("PartialFooter")
    <!-- divider section -->
    @Html.Partial("PartialDivider")
    <!-- copyright section -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>&copy; Superfresh 2084. All Rights Reserved | Design: <a target="_blank" rel="nofollow" href="#">NATS Development</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- scrolltop section -->
    <a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <!-- javascript js -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/nivo-lightbox.min.js"></script>
    <script src="~/Content/js/smoothscroll.js"></script>
    <script src="~/Content/js/jquery.nav.js"></script>
    <script src="~/Content/js/isotope.js"></script>
    <script src="~/Content/js/imagesloaded.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
    if (window.location.pathname == '/Main/ProgramSpecialPurpose'
        || window.location.pathname == '/Main/ProgramGeneralEnglish'
        || window.location.pathname == '/Main/ProgramTOEFLPreparation'
        || window.location.pathname == '/Main/Kontak') {
        $("#hrefHome").attr("href", "Home");
        $("#hrefProfile").attr("href", "Home");
        $("#hrefGallery").attr("href", "Home");
    } else {
        $("#hrefHome").attr("href", "Home");
        $("#hrefProfile").attr("href", "#profile");
        $("#hrefGallery").attr("href", "#gallery");
    }
    $(".moduleTitle").click(function () {
        var dataprogram = $(this).attr('data-program');
        window.location = dataprogram;
    });

    $(document).on('.close', function () {
        $(this).parent().hide();
    });
    var waitingDialog = waitingDialog || (function ($) {
        'use strict';
        // Creating modal dialog's DOM
        var $dialog = $(
            '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
            '<div class="modal-dialog modal-m">' +
            '<div class="modal-content">' +
                '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                '<div class="modal-body">' +
                    '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                '</div>' +
            '</div></div></div>');

        return {
            show: function (message, options) {
                // Assigning defaults
                if (typeof options === 'undefined') {
                    options = {};
                }
                if (typeof message === 'undefined') {
                    message = 'Loading';
                }
                var settings = $.extend({
                    dialogSize: 'm',
                    progressType: '',
                    onHide: null // This callback runs after the dialog was hidden
                }, options);

                // Configuring dialog
                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                if (settings.progressType) {
                    $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                }
                $dialog.find('h3').text(message);
                // Adding callbacks
                if (typeof settings.onHide === 'function') {
                    $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                        settings.onHide.call($dialog);
                    });
                }
                // Opening dialog
                $dialog.modal();
            },
            /**
             * Closes dialog
             */
            hide: function () {
                $dialog.modal('hide');
            }
        };
    })(jQuery);
    </script>
</body>
</html>
